*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

img {
    width: 600px;
    height: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 60px 2px rgb(1, 1, 19);
}

button {
    color: white;
    background-color: #3882F6;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900; 
    margin-top: 40px;
    margin-bottom: 50px;
}

blockquote p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer a {
    color: #878787;
    text-decoration: none;
}

blockquote,
.citation {
    width: 50%;
}

.header-links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
}

header,
.splash {
    background-color: #1F2937;
}

.splash p,
.header-links a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.header-logo p {
    color: #F9FAF8;
    font-size: 24px;
}

.splash {
    display: flex;
    width: 80%;
    margin: 20px auto;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 30px;
}

.splash-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.splash-image {
    display: flex;
    flex-shrink: 2;
    justify-content: flex-end;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: white;
    padding-bottom: 100px;
}

.info-blocks {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 60px;
   
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.info-image {
    width: 300px;
    box-shadow: 4px 4px 10px 2px rgba(1, 1, 19, 0.527);;
}

.subtext {
    color: #878787;
    font-size: 20px;
    width: 260px;
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    background-color: #E5E7EB;
    padding-top: 200px;
    padding-bottom: 200px;
}

.citation {
    font-size: 30px;
    font-weight: 600;
    text-align: right;
}

.CTA-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.CTA-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 100px;
}

.CTA-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.CTA-header {
    font-weight: 600;
}

.CTA-text p {
    color: rgb(214, 214, 214);
}

.CTA-button button {
    border: 2px solid white;
    padding: 10px 30px;
}

